

.icons {
    align-self: center;
    width: 30px;
    border-radius: 5px;
}

.social-media {
    display: flex;
    justify-content: inherit;
}

.left-nav {
    display: flex;
    border: solid;
}

.right-nav {
    display: flex;
    flex-direction: column;
    border: solid;
    justify-content: space-around;
}

nav {
    background: url("assets/textures/az_subtle.png");
    height: 100px;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
}