
nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

h3 {
    text-transform: uppercase; 
}

h6 {
    text-align: right;
    padding-right: 10px;
}

.icons {
    align-self: center;
    width: 30px;
    border-radius: 3px;
    margin-right: 10px;
}

.social-media {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.login-register {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.login {
    margin-right: 20px;
    border-right: solid;
    padding-right: 17px;
}

.left-nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}

.right-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    width: 200px;
    padding-right: 70px;
}

.right-arrow,
.left-arrow {
    width: 50px;
    position: absolute;
	top: 43vh;
}

.left-arrow {
	left: -20px;
}

.right-arrow {
	right: -20px;
}

.main-image {
    background: url("assets/images/SmelserPhillip_Assign_6_Exterior_HDR.jpg");
    position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
    margin: 0% 5%;
}

.right-arrow-student,
.left-arrow-student {
    width: 30px;
    position: absolute;
	top: 20vh;
}

.left-arrow-student {
	left: -10px;
}

.right-arrow-student {
	right: -10px;
}

.main-image-student {
    background: url("assets/images/SmelserPhillip_Assign_6_Exterior_HDR.jpg");
    position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
}

.main-image-banner {
    position: absolute;
    bottom: 0;
    margin-right: 20px;
	width: 100%;
	text-align: right;
	background-color: rgba(0,0,0, .6);
    color: white;
    
}

.main-image-text {
	margin-right: 30px;
}

.headline {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin: 0% 5%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0% 5%;
}

.image-gallery {
    width: 21%;
    margin: 2%;
    align-self: center;
}


.view-more {
    margin: 0% 5%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.view-more-link {
    background: url("assets/textures/az_subtle.png");
    background-color: #ccc;
	background-blend-mode: multiply;
    color: white;
    text-decoration: none;
    padding: 10px 70px;
}

.view-more-link:hover {
	background-color: #ddd;
}

.banner {
    height: 50px;
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bird {
    width: 20px;
    align-self: center;
    padding-right: 10px;
}

.footer {
    display: flex;
    background: url("assets/textures/az_subtle.png");
    padding-left: 50px;
    padding-right: 50px;
}

.footer-text,
.search-text {
    color: forestgreen;
}

.bottom-row {
    flex: 1;
    margin: 2%;
}

.gallery-small {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery-small {
    width: 21%;
    margin: 2%;
    align-self: center;
}

.left-nav-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.link,
.login,
.register {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.alt-view {
    display: flex;
}

.alt-view-image {
    width: 29%;
    margin: 2%;
    align-self: center;
}

.email {
    display: flex;
    flex-direction: column;
    width: 68%;
}

.email-headshot {
    display: flex;
}

.headshot {
    display: flex;
    width: 32%;
}

.headshot-image {
    width: 100%;
    align-self: center;

}

.sub-main {
    display: flex;
    margin: 0% 5%;
    padding-top: 10px;
}

.hdr-images {
    width: 68%;
}

.profile {
    width: 32%;
}

.email-link {
    text-decoration: none;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
}

.portfolio-header {
    margin: 0% 6.5%;
    height: 40px;
    padding-top: 30px;
}

.project-text {
    padding-right: 20px;
    padding-left: 30px;
}